.Container {
  width: 1170px;
  /* min-height: 300px; */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #e9ecef;
  /* background-color: #212529; */
  /* background-size: cover; */
}

h1 {
  margin: 0;
  margin-bottom: 10px;
}
